#### 67-262 Database Design and Development, Fall 2022
#### Assignment 2

##### Your name: `________________________`
##### Your andrew ID: `_________________`

Ensure your code conforms to the recommendations in the [SQL style guide](http://www.sqlstyle.guide) (especially with reference to code indentation).

In [ ]:
%load_ext sql
%sql postgresql://isdb@localhost/postgres

## Visually examine the data in Tables GVADATA and STATEINFO

Let us begin with table GVADATA. Examine the total number of records in GVADATA. The table should contain 448,402 records.

In [ ]:
%%sql 

SELECT COUNT(*) 
  FROM GVADATA

 * postgresql://isdb@localhost/postgres
1 rows affected.

[(448402,)]

To examine the structure of the table, let us display the most fatal gun violence incident (incident with the most victims killed) in Pittsburgh. You may assume there is no tie. When filtering by city name, use " LIKE '%Pittsburgh%' " instead of matching the exact string "Pittsburgh". Show all columns (you may use SELECT * here). Google it to find out more about this incident which took place about one mile away from CMU campus.

In [ ]:
%%sql 

SELECT * 
  FROM GVADATA 
 WHERE state = 'Pennsylvania' AND city LIKE '%Pittsburgh%'
 ORDER BY n_killed DESC
 LIMIT 1

 * postgresql://isdb@localhost/postgres
1 rows affected.

[(1241819, datetime.date(2018, 10, 27), 'Pennsylvania', 'Pittsburgh', '5898 Wilkins Ave', 11, 7)]

Now let us examine the total number of records in table STATEINFO. The table should contain 51 records.

In [ ]:
%%sql 

SELECT COUNT(*) 
  FROM STATEINFO

 * postgresql://isdb@localhost/postgres
1 rows affected.

[(51,)]

Since STATEINFO is fairly small, let us print out the entire table. Sort the results by decreasing order of the number of gun laws.

In [ ]:
%%sql 

SELECT * 
  FROM STATEINFO 
 ORDER BY gunlaw18 DESC

 * postgresql://isdb@localhost/postgres
51 rows affected.

[('District of Columbia', 703608, None),
 ('California', 39776830, 107),
 ('Massachusetts', 6895917, 103),
 ('Connecticut', 3588683, 92),
 ('Hawaii', 1426393, 81),
 ('New Jersey', 9032872, 78),
 ('New York', 19862512, 75),
 ('Maryland', 6079602, 70),
 ('Illinois', 12768320, 65),
 ('Rhode Island', 1061712, 54),
 ('Washington', 7530552, 43),
 ('Delaware', 971180, 42),
 ('Minnesota', 5628162, 41),
 ('Oregon', 4199563, 38),
 ('Pennsylvania', 12823989, 37),
 ('Colorado', 5684203, 30),
 ('North Carolina', 10390149, 30),
 ('Florida', 21312211, 30),
 ('Iowa', 3160553, 24),
 ('Wisconsin', 5818049, 23),
 ('Nebraska', 1932549, 22),
 ('Tennessee', 6782564, 22),
 ('Michigan', 9991177, 21),
 ('Nevada', 3056824, 21),
 ('Vermont', 623960, 20),
 ('Louisiana', 4682509, 20),
 ('Texas', 28704330, 18),
 ('West Virginia', 1803077, 18),
 ('Utah', 3159345, 15),
 ('Ohio', 11694664, 15),
 ('Virginia', 8525660, 13),
 ('South Carolina', 5088916, 12),
 ('Indiana', 6699629, 12),
 ('Maine', 1341582, 11),
 ('Arkansas', 3020327, 11),
 ('New Mexico', 2090708, 10),
 ('Alabama', 4888949, 10),
 ('North Dakota', 755238, 10),
 ('Oklahoma', 3940521, 9),
 ('New Hampshire', 1350575, 9),
 ('Arizona', 7123898, 8),
 ('Kentucky', 4472265, 7),
 ('Kansas', 2918515, 7),
 ('South Dakota', 877790, 6),
 ('Georgia', 10545138, 6),
 ('Wyoming', 573720, 5),
 ('Montana', 1062330, 4),
 ('Alaska', 738068, 3),
 ('Missouri', 6135888, 2),
 ('Mississippi', 2982785, 2),
 ('Idaho', 1753860, 1)]

Eyeball the gunlaw18 column. Are there any records missing the information of the number of gun laws? Use a SQL query to print the record(s) where gunlaw18 is missing.

In [ ]:
%%sql 

SELECT * 
  FROM STATEINFO
 WHERE gunlaw18 IS NULL

 * postgresql://isdb@localhost/postgres
1 rows affected.

[('District of Columbia', 703608, None)]

Run the following code chunk as is (do not modify it). Although you may not be familiar with the syntax (which is fine), you should be able to understand what it does. This is one of the common techniques for handling missing data.

In [ ]:
%%sql 

UPDATE STATEINFO
   SET gunlaw18 = ( SELECT ROUND(AVG(gunlaw18))
                      FROM STATEINFO
                  )
 WHERE gunlaw18 IS NULL

 * postgresql://isdb@localhost/postgres
1 rows affected.

[]

Re-display the contents of the table STATEINFO to ensure that the missing data has been filled.

In [ ]:
%%sql 

SELECT * 
  FROM STATEINFO 
 ORDER BY gunlaw18 DESC

 * postgresql://isdb@localhost/postgres
51 rows affected.

[('California', 39776830, 107),
 ('Massachusetts', 6895917, 103),
 ('Connecticut', 3588683, 92),
 ('Hawaii', 1426393, 81),
 ('New Jersey', 9032872, 78),
 ('New York', 19862512, 75),
 ('Maryland', 6079602, 70),
 ('Illinois', 12768320, 65),
 ('Rhode Island', 1061712, 54),
 ('Washington', 7530552, 43),
 ('Delaware', 971180, 42),
 ('Minnesota', 5628162, 41),
 ('Oregon', 4199563, 38),
 ('Pennsylvania', 12823989, 37),
 ('North Carolina', 10390149, 30),
 ('Florida', 21312211, 30),
 ('Colorado', 5684203, 30),
 ('District of Columbia', 703608, 28),
 ('Iowa', 3160553, 24),
 ('Wisconsin', 5818049, 23),
 ('Tennessee', 6782564, 22),
 ('Nebraska', 1932549, 22),
 ('Michigan', 9991177, 21),
 ('Nevada', 3056824, 21),
 ('Louisiana', 4682509, 20),
 ('Vermont', 623960, 20),
 ('West Virginia', 1803077, 18),
 ('Texas', 28704330, 18),
 ('Utah', 3159345, 15),
 ('Ohio', 11694664, 15),
 ('Virginia', 8525660, 13),
 ('Indiana', 6699629, 12),
 ('South Carolina', 5088916, 12),
 ('Arkansas', 3020327, 11),
 ('Maine', 1341582, 11),
 ('North Dakota', 755238, 10),
 ('New Mexico', 2090708, 10),
 ('Alabama', 4888949, 10),
 ('Oklahoma', 3940521, 9),
 ('New Hampshire', 1350575, 9),
 ('Arizona', 7123898, 8),
 ('Kansas', 2918515, 7),
 ('Kentucky', 4472265, 7),
 ('South Dakota', 877790, 6),
 ('Georgia', 10545138, 6),
 ('Wyoming', 573720, 5),
 ('Montana', 1062330, 4),
 ('Alaska', 738068, 3),
 ('Mississippi', 2982785, 2),
 ('Missouri', 6135888, 2),
 ('Idaho', 1753860, 1)]

## Now for the queries

### Note 1: DO NOT USE SUBQUERIES. You should be able to answer all the questions with queries that do not include any subqueries. If you feel the need for a subquery, re-think your approach.

### Note 2: You will work with the single table GVADATA for the first three questions. The last two questions will require you to join GVADATA and STATEINFO.

**[Q1] Find all the states that had reported more than 1000 gun violence incidents in year 2021. Display the state names and their number of total incidents. Sort the results in decreasing order of the number of total incidents. Check out [here](https://www.postgresql.org/docs/current/functions-datetime.html) to find out the appropriate date function to use. [21 rows in the result]**

In [ ]:
%%sql

SELECT state, COUNT(id)
  FROM GVADATA
 WHERE EXTRACT(YEAR FROM date)=2021
 GROUP BY state
HAVING COUNT(id) > 1000
 ORDER BY COUNT(id) DESC

 * postgresql://isdb@localhost/postgres
21 rows affected.

[('Illinois', 5080),
 ('Texas', 4475),
 ('California', 3532),
 ('Pennsylvania', 2991),
 ('New York', 2814),
 ('Ohio', 2360),
 ('Florida', 2336),
 ('Michigan', 2087),
 ('Louisiana', 1957),
 ('Georgia', 1907),
 ('Tennessee', 1834),
 ('North Carolina', 1831),
 ('Maryland', 1636),
 ('Virginia', 1521),
 ('Wisconsin', 1520),
 ('Indiana', 1435),
 ('Missouri', 1362),
 ('South Carolina', 1327),
 ('Alabama', 1279),
 ('Kentucky', 1086),
 ('New Jersey', 1053)]

**[Q2] For each *day of the week*, list out the total number of *fatal* gun violence incidents (where at least one person was killed) that took place on that day of the week. Sort the results in decreasing order of incident counts. Check out [here](https://www.postgresql.org/docs/current/functions-datetime.html) to find out the appropriate date function to use. [7 rows]**

**Do fatal gun violence incidents happen more frequently on weekdays or weekends?**

In [ ]:
%%sql

SELECT EXTRACT(DOW FROM date), COUNT(id)
  FROM GVADATA 
 WHERE n_killed > 0
 GROUP BY EXTRACT(DOW FROM date)
 ORDER BY COUNT(id) DESC

 * postgresql://isdb@localhost/postgres
7 rows affected.

[(Decimal('0'), 20847),
 (Decimal('6'), 20130),
 (Decimal('1'), 16995),
 (Decimal('5'), 16930),
 (Decimal('3'), 16127),
 (Decimal('2'), 16123),
 (Decimal('4'), 15622)]

**[Q3] For each calendar year in the data, compute and display (1) total casualties (killed + injured) from gun violence; (2) total number of gun violence incidents; and (3) average casualties per incident, which is the ratio of (1) and (2). Check [here](https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-cast/) if you need to convert the year values to integers. For calculation of the average casualties per incident, add a " 1.0 * " at the beginning of your formula so that SQL does the calculation in floating points. Sort the results by increasing year. Give proper column names for the results. [9 rows]**

In [ ]:
%%sql

SELECT EXTRACT(YEAR FROM date)::INTEGER "year", 
       SUM(n_killed + n_injured) "total casualties", 
       COUNT(id) "total incidents", 
       1.0 * SUM(n_killed + n_injured) / COUNT(id) "avg casualties per incident"
  FROM GVADATA
 GROUP BY EXTRACT(YEAR FROM date)
 ORDER BY "year"

 * postgresql://isdb@localhost/postgres
9 rows affected.

[(2014, 34214, 39524, Decimal('0.86565124987349458557')),
 (2015, 40472, 48141, Decimal('0.84069711887995679359')),
 (2016, 45724, 54707, Decimal('0.83579797832087301442')),
 (2017, 47097, 58110, Decimal('0.81048012390294269489')),
 (2018, 43207, 54135, Decimal('0.79813429389489239863')),
 (2019, 45683, 53750, Decimal('0.84991627906976744186')),
 (2020, 59049, 62330, Decimal('0.94736082143430129953')),
 (2021, 61515, 56813, Decimal('1.0827627479626142')),
 (2022, 25899, 20892, Decimal('1.23966111430212521539'))]

**[Q4] For each state, compute the number of gun violence *incidents involving casualties* (at least one person injured or killed) *per million population* (let's call it the "casualty incident rate" for short) in *year 2021*. Your results should only include states with "casualty incident rate" greater than 100. List the state and the "casualty incident rate" sorted in decreasing order of the "casualty incident rate". [30 rows]**

In [ ]:
%%sql

SELECT g.state, 1000000.0 * COUNT(g.id) / s.pop18 "casualty incident rate"
  FROM GVADATA g 
       JOIN STATEINFO s ON g.state = s.state
 WHERE EXTRACT(YEAR FROM date)=2021 AND g.n_killed+g.n_injured>0
 GROUP BY g.state, s.pop18
HAVING 1000000.0 * COUNT(g.id) / s.pop18 > 100
 ORDER BY "casualty incident rate" DESC

 * postgresql://isdb@localhost/postgres
30 rows affected.

[('District of Columbia', Decimal('1077.3044081363486487')),
 ('Louisiana', Decimal('373.3041410064561542')),
 ('Illinois', Decimal('356.8989499010049873')),
 ('Maryland', Decimal('243.1080192420490683')),
 ('Delaware', Decimal('240.9440062604254618')),
 ('Mississippi', Decimal('240.7146341422529616')),
 ('Alabama', Decimal('238.9061534493405433')),
 ('Tennessee', Decimal('218.3540029994556631')),
 ('South Carolina', Decimal('217.5315921897708667')),
 ('Wisconsin', Decimal('216.7393227523522060')),
 ('Pennsylvania', Decimal('216.3133483660973196')),
 ('Kentucky', Decimal('192.9670983271340137')),
 ('Missouri', Decimal('189.3776418344011494')),
 ('Indiana', Decimal('185.0848755953501306')),
 ('Michigan', Decimal('179.3582477820180745')),
 ('Ohio', Decimal('177.4313481772541734')),
 ('New Mexico', Decimal('172.1904732750819340')),
 ('Georgia', Decimal('162.0652095781013013')),
 ('Arkansas', Decimal('158.9231894427325253')),
 ('North Carolina', Decimal('157.0718571985830040')),
 ('Virginia', Decimal('150.0177112387779949')),
 ('Connecticut', Decimal('140.1628396824127403')),
 ('Minnesota', Decimal('135.9235928176907488')),
 ('Oklahoma', Decimal('135.7688488400391725')),
 ('Texas', Decimal('134.5441611074008695')),
 ('Colorado', Decimal('121.2131234581171714')),
 ('New York', Decimal('116.6519119031872706')),
 ('Nevada', Decimal('108.6094587061603808')),
 ('Kansas', Decimal('103.4772821109365551')),
 ('West Virginia', Decimal('103.1569921861351456'))]

**[Q5] For states with *50 or more gun laws*, compute (1) the number of incidents (all incidents, not just those involving casualties) per million population (name it "incident rate"), and (2) the number of casualties (injured + killed) per million population (name it "casualty rate") over the entire time period of the data. List out the state, the number of gun laws, the "incident rate", and the "casualty rate". Sort the results by decreasing order of gun laws. [9 rows]**

In [ ]:
%%sql

SELECT s.state, s.gunlaw18, 
       1000000.0 * COUNT(g.id) / s.pop18 "incident rate", 
       1000000.0 * SUM(g.n_killed+g.n_injured) / s.pop18 "casualty rate"
  FROM GVADATA g 
       JOIN STATEINFO s ON g.state = s.state
 WHERE s.gunlaw18>=50
 GROUP BY s.state, s.pop18, s.gunlaw18
 ORDER BY s.gunlaw18 DESC

 * postgresql://isdb@localhost/postgres
9 rows affected.

[('California', 107, Decimal('741.5875020709292319'), Decimal('715.0896640079161663')),
 ('Massachusetts', 103, Decimal('1321.2165981696125403'), Decimal('593.8296531121241743')),
 ('Connecticut', 92, Decimal('1610.6187144420390433'), Decimal('1035.1987066007223263')),
 ('Hawaii', 81, Decimal('349.8334610447471349'), Decimal('253.0859307357789894')),
 ('New Jersey', 78, Decimal('1036.2152812527399923'), Decimal('846.9067202546432630')),
 ('New York', 75, Decimal('977.5702086422905622'), Decimal('810.0687365223492376')),
 ('Maryland', 70, Decimal('2035.4950866849507583'), Decimal('1939.4361670385660114')),
 ('Illinois', 65, Decimal('2759.4076589559158918'), Decimal('2856.7579759905766773')),
 ('Rhode Island', 54, Decimal('1239.5075123950751240'), Decimal('687.5687568756875688'))]

**Repeat the same query for states with 20 or fewer gun laws. [27 rows] Compare the results of the two queries.**

In [ ]:
%%sql

SELECT s.state, s.gunlaw18, 
       1000000.0 * COUNT(g.id) / s.pop18 "incident rate", 
       1000000.0 * SUM(g.n_killed+g.n_injured) / s.pop18 "casualty rate"
  FROM GVADATA g 
       JOIN STATEINFO s ON g.state = s.state
 WHERE s.gunlaw18<=20
 GROUP BY s.state, s.pop18, s.gunlaw18
 ORDER BY s.gunlaw18 DESC

 * postgresql://isdb@localhost/postgres
27 rows affected.

[('Louisiana', 20, Decimal('3186.1124025602513524'), Decimal('3121.6170646975798658')),
 ('Vermont', 20, Decimal('1057.7601128277453683'), Decimal('434.3227129944227194')),
 ('Texas', 18, Decimal('988.1784385840045735'), Decimal('969.8885150776903694')),
 ('West Virginia', 18, Decimal('1419.2405537866657941'), Decimal('1055.9726511957060070')),
 ('Ohio', 15, Decimal('1695.9016522407142266'), Decimal('1538.6504477597646243')),
 ('Utah', 15, Decimal('583.6652850511735819'), Decimal('447.2446029161107761')),
 ('Virginia', 13, Decimal('1364.3518507658058144'), Decimal('1309.6933257953049969')),
 ('Indiana', 12, Decimal('1679.9437700206981610'), Decimal('1542.9212572815599192')),
 ('South Carolina', 12, Decimal('2339.0050061742029147'), Decimal('1997.4784413812293227')),
 ('Arkansas', 11, Decimal('1734.2493047938186825'), Decimal('1545.5280173305738087')),
 ('Maine', 11, Decimal('875.0862787365960485'), Decimal('368.2219946302201431')),
 ('Alabama', 10, Decimal('2096.7696738092379364'), Decimal('2136.8600899702574112')),
 ('New Mexico', 10, Decimal('1527.7121434461436030'), Decimal('1225.9005083445416577')),
 ('North Dakota', 10, Decimal('983.7958365442416828'), Decimal('497.8563048999123455')),
 ('New Hampshire', 9, Decimal('990.6891509172019325'), Decimal('339.1148214649316032')),
 ('Oklahoma', 9, Decimal('1540.6592173979024601'), Decimal('1317.5922676214642683')),
 ('Arizona', 8, Decimal('706.3548635873225585'), Decimal('735.6927345113588095')),
 ('Kansas', 7, Decimal('1335.6107472464592438'), Decimal('1077.9454619900874246')),
 ('Kentucky', 7, Decimal('1795.9579765510317479'), Decimal('1496.1099129859254762')),
 ('Georgia', 6, Decimal('1455.1729906237357918'), Decimal('1346.1179929556161332')),
 ('South Dakota', 6, Decimal('925.0504106904840566'), Decimal('461.3859807015345356')),
 ('Wyoming', 5, Decimal('610.0536847242557345'), Decimal('413.0934950847103117')),
 ('Montana', 4, Decimal('859.4316267073319966'), Decimal('585.5054455771747009')),
 ('Alaska', 3, Decimal('2287.0521415370941431'), Decimal('1326.4360465431369467')),
 ('Mississippi', 2, Decimal('2312.6038249488313774'), Decimal('2288.1300529538669398')),
 ('Missouri', 2, Decimal('2036.8689910897982493'), Decimal('2017.3119196439048431')),
 ('Idaho', 1, Decimal('591.2672619251251525'), Decimal('392.2776048259268129'))]

Some further analysis of the results would show that the average incident rate and casualty rate of the states with more gun laws are lower than those of the states with fewer gun laws. However, there is a great variation in those rates in both groups of states.